KEEP_MAX_IMAGES=5

ENABLE_IMAGE_CLEANUP=0
ENABLE_DOCKER_CACHE_CLEANUP=0
ENABLE_LOCAL_CACHE_CLEANUP=1

RUNNER_CACHE_DIR=/cache
DRY_RUN=1
VERBOSE=1

ENABLE_TMP_CLEANUP=1
ENABLE_WORKSPACE_CLEANUP=1
ENABLE_ARCHIVE_CLEANUP=0

TMP_MAX_AGE_DAYS=1
WORKSPACE_MAX_AGE_DAYS=7
TOP_N_LARGEST=20
